<div id="divBusca">
    <div style="margin-right: 15%; float: right;">
        {{userName}}
        <img style="border-radius: 50px; margin-left: 5px; width: 30px;" src="{{userPhoto}}" id="--"/>
    </div>
    <input style="margin-left: 15%;margin-top:30px" [(ngModel)]="nameOrMail" type="text" id="txtBusca" placeholder="Buscar..."/>
    <img (click)="searchUserByNameOrMail()" style="margin-left: 5px; width: 20px;" src="https://cdn-icons-png.flaticon.com/512/2319/2319177.png" id="btnBusca"/>

    <br><br>
    <div style="background-color: #f2f2f2;margin-top: 30px; margin-left: 15%; margin-right: 15%; display: flex;">
        <ul class="cards" *ngFor="let card of cards">
            <li style="padding-right: 14px; list-style-type: none;">
                <div style="border: solid 2px rgb(185, 185, 185); width: 140px; height: 180px;background-color: #fff;">
                    <img style="width: 140px; height: 140px;" 
                        src="{{card.photo}}" id="--"/>
                    <div style="padding: 3px;">
                            {{card.username}}
                            <img (click)="chat('andre@gmail.com')" style="margin-left: 5px; width: 20px;" src="https://cdn-icons-png.flaticon.com/512/1804/1804938.png" id="--"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
