/* AppComponent's private CSS styles */
h1 {
    margin-bottom: 0;
  }
  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
  }
  
  nav a:hover {
    color: white;
    background-color: #42545C;
  }
  nav a:active {
    background-color: black;
  }

#div-title{
  text-align: center;
  font-size: 32px;

  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-em-baixo{
  bottom: 0;
}

.container-width{
  width: 60% !important;
}

.card-adaptation-image{
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.nav-bar{
  display: flex;
  width: 100%;
  margin-left: 30% !important;
}

.navbar-search{
  width: 50% !important;
  height: 30px !important;
}