<div style="margin-top: 120px !important;"></div>
    <div style="margin-right: 15%; float: right;">
        {{userName}}
        <img style="border-radius: 50px; margin-left: 5px; width: 30px;" src="{{userPhoto}}" id="--"/>
    </div>


    <div style="display: flex; width: 60% !important; margin-top: 20px;" class="container px-1 py-1">
        <div id="div-rem-responsive">
            <img id="img-rem-responsive" src="{{photoUserRem}}"/>
            <div style="padding: 3px;">
                {{usernameUserRem}}
            </div>
        </div>
        <div id="div-messages">
            <div id="div-sented-messages">
                <div *ngFor="let msg of messages">
                    <div *ngIf="msg.from == userName">
                        <div class="div-message-me div-box-message">
                            {{msg.content}}
                            <div class="div-text-hour ">{{msg.hour}}</div>
                        </div>
                    </div>
                    <div *ngIf="msg.from != userName">
                        <div class="div-message-rem div-box-message">
                            {{msg.content}}
                            <div class="div-text-hour ">{{msg.hour}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="div-box-send-message">
                    <input id="input-box-message" placeholder="message ..." />
                    <button type="button" (click)="sendMessage()" id="bnt-box-send">Send</button>
            </div>
        </div>
    </div>

